body{
	margin:0px;
	padding:0px;
	background:#ffffff;
	font-family: verdana,arial,sans-serif;
	font-size:11px;
}

.fullwidth {
	width: 1400px;
	text-align: center;
	margin:0 auto;
}

div.title {
	font-weight: bold;
	height:90px;
	width:880px;
	font-size: 32px;
	display: inline-block;
	line-height: 80px;
	text-align: center;
	background-color: #ffffff;
}

div.logo {
	height:90px;
	width:510px;
	background-size: contain;
	background-repeat: no-repeat;
	line-height: 80px;
	background-color: #ffffff;
	display: inline-block;
    vertical-align: middle;
}

div.submitline {
	width: 1020px;
}

table.smalltable {
	width: 650px;
	font-size: 16px;
	text-align: left;
	border: none;
}

.searchopt {
	width: 700px;
	text-align:center;
	display: inline-block;
	border: 1px solid black;
}

.menu {
	width: 300px;
	text-align:center;
	display:inline-block;
	border: 1px solid black;
	vertical-align: top;
}

table.gridtable {
	font-size:11px;
	color: #333333;
	width: 1400px;
	border-width: 2px;
	border-color: #666666;
	border-collapse: collapse;
	border-spacing: 0px;
}
table.gridtable th {
	border-width: 2px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #bbbbbb;
}

table.gridtable tr:nth-child(odd) td{
	font-family: courier;
	border-width: 2px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}

table.gridtable tr:nth-child(even) td{
	font-family: courier;
	border-width: 2px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #f0f0f0;
}

.warning td{
	background-color: #ffe4b3;
}

.good td{
	background-color: #000000;
}

.bad td{
	background-color: #ff7d7d;
}

.mselect {
	width: 325px;
	height: 60px;
	display: inline;
}

.footer {
	width: 1400px;
	height: 100px;
	font-size: 14px;
	display: inline-block;
	line-height: 100px;
	text-align: left;
	font-weight: bold;
	background-color: #ffffff;
}

.rotate {
     -moz-transform: rotate(-90.0deg);  /* FF3.5+ */
       -o-transform: rotate(-90.0deg);  /* Opera 10.5 */
  -webkit-transform: rotate(-90.0deg);  /* Saf3.1+, Chrome */
             filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  /* IE6,IE7 */
         -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
}