{{> header}}
<table class="gridtable" align="center">
	<thead>
        <th>Cable Label</th>
		<th>Cable Type</th>
		<th>Cable Use</th>
		<th>Source Conn.</th>
		<th>Destination Conn.</th>
    </thead>
    <tbody>
    {{#sourceList}}
        <tr>
            <td>{{label}}</td>
            <td><a href="getCableSpecs.py?id={{type}}">{{type}}</a> ({{longType}})</td>
            <td>{{use}}</td>
            <td>{{sourceconn}}</td>
            <td>{{destconn}}
        </tr>
    {{/sourceList}}
    </tbody>
</table>
{{> footer}}    