{{> header}}
<table class="gridtable" align="center">
	<thead>
        <th width = "15%">Cable Label</th>
		<th width = "15%">Cable Type</th>
		<th width = "15%">Cable Use</th>
		<th width = "15%">Cable Wiring</th>
		<th width = "20%">Source Conn.</th>
		<th width = "20%">Destination Conn.</th>
    </thead>
    <tbody>
    {{#sourceList}}
        <tr>
            <td>{{label}}</td>
            <td><a href="getCableSpecs.py?id={{type}}">{{type}}</a> ({{longType}})</td>
            <td>{{use}}</td>
            <td><a href="getCableWiring.py?id={{wiring}}">{{wiring}}</a></td>
            <td>{{sourceconn}}</td>
            <td>{{destconn}}
        </tr>
    {{/sourceList}}
    </tbody>
</table>
{{> footer}}    