<html>
	<head>
		<title>NSLS-II Beamlines Cable Database</title>
		<link rel="stylesheet" type="text/css" href="css/cdb.css">
	</head>
	<body>
		<div class="fullwidth">
			<div class="logo">
				<img src="images/nsls2logo.png" width="500">	
			</div>
			<div class="title">
				{{title}}
			</div>
		</div>
		