{{> header}}
	<form method="post" action="getData.py">
		<input type="hidden" name="idList" value="{{idlist}}">	
		<table class="gridtable" align="center">
	    	<thead>
	            <th>Cable Number</th>
				<th>Cable Type</th>
				<th>Cable Use</th>
				<th>Cable Source</th>
				<th>Cable Destination</th>
				<th>Cable Path</th>
				<th>Cable Drawing Ref.</th>
				<th>Installed?</th>
	        </thead>
	        <tbody>
	        {{#sourceList}}
	            <tr>
	                <td>{{label}}</td>
	                <td><a href="getFile.py?id={{type}}&type=cableSpecs">{{type}}</a> ({{longType}})</td>
	                <td>{{use}}</td>
	                <td>{{source}}</td>
	                <td>{{destination}}</td>
	                <td>{{path}}</td>
	                <td><a href="getFile.py?id={{wiring}}&type=cableWiring">{{wiring}}</a></td>
	                <td>{{installed}}</td>
	            </tr>
	        {{/sourceList}}
	        </tbody>
	    </table>
	    <table class="smalltable" align=center>
			<tbody>
				<tr>
					<th align="center"><input type="submit" name="command" value="Download Labels (all)"></th>
					<th align="center"><input type="submit" name="command" value="Download Labels (A)"></th>
					<th align="center"><input type="submit" name="command" value="Download Labels (B)"></th>
					<th align="center"><input type="submit" name="command" value="Download Table Data"></th>
				</tr>
			</tbody>
		</table>
	</form>
{{> footer}}
