{{>header}}
	<table class="gridtable" align="center">
    	<thead>
    		<tr>
            	<th>Cable Tray Label</th>
	            <th colspan="{{nDiv}}">Tray Fill Ratio</th>
	            <th colspan="{{nDiv}}">Number of Cables</th>
    		</tr>
    		<tr>
				<th>&nbsp;</th>
				{{#divList}}
				<th>Div. '{{divN}}'</th>
				{{/divList}}
				{{#divList}}
				<th>Div. '{{divN}}'</th>
				{{/divList}}
    		</tr>
        </thead>
        <tbody>
        {{#data}}
            <tr>
                <td>{{label}}</td>
                {{#loading}}
                	<td width=5% {{fmt}}>{{val}}</td>
                {{/loading}}
                {{#nCables}}
                	<td width=5% {{fmt}}>{{val}}</td>
                {{/nCables}}
            </tr>
        {{/data}}
        </tbody>
    </table>
{{> footer}}